.root{
    /*-fx-background-color:#383838;*/
    -fx-background-color:linear-gradient(#eeeeee,#e0e0e0);
    -fx-font-family: 'Comfortaa', cursive;
    -fx-font-size: 14px;
}
#loginTopContainer{    
    -fx-background-color: #00bcd4;
    -fx-font-size:24px;
    -fx-text-fill:#ffffff;
}

#welcomeLogin{
    -fx-text-fill:#ffffff;
}
#paneLogin{
    -fx-background-color:linear-gradient(#80deea,#b2ebf2);
}
#loginBtn{
    -fx-text-fill: #006464;
    -fx-background-color: #80cbc4;
    -fx-border-radius: 5px, 0px, 5px, 0px;
    -fx-background-radius: 5px, 0px, 5px, 0px;
    -fx-padding: 5px;
}
#stkPane{
    -fx-background-color: #00bcd4;
}
#pass{
    -fx-background-image: url("lock.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 14;
    -fx-background-size: 25px 25px;
}
#useOrAct{
    -fx-background-image: url("user.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 14;
    -fx-background-size: 25px 25px;
}